<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    </script>
    <h1>Sign In</h1>

    {{ wtf.quick_form(form) }}

    <p>

	<p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
	New user?
	<a href="{{ url_for('auth.register') }}"> Click here to register
	</a> </p>


{% endblock %}
