<p>not confirmed</p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

resend a confirmation email:
<a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
