	<ul class="posts">
        	<li ng-repeat="post in posts" class="post">

		  <div class="post-content">

            		<div class="post-title">
                		{{ post.title }}
            		</div>

            		<div class="post-body">
                    		{{ post.body }}

            		</div>
		 </div>

            	 <br />
            	 <div class="row">
                	<div ng-repeat="image in post.images" class="col-xs-6 col-sm-2 col-md-2">
                        	<a href="#" class="thumbnail">
                                	<img src="{{image}}" alt="...">
                        	</a>
                	</div>

                 </div>

		<div class="post-footer">

		<div ng-switch on="post">
    			<div ng-switch-when="post.already_want">
				<a class="want-or-not" href="/users/want-or-not/{{post.id}}">
                                	<span class="label label-danger">I don't want this ({{ post.buyers_count }})</span>
                        	</a>
    			</div>
			<div ng-switch-when="post.can_want">
				 <a class="want-or-not" href="/users/want-or-not/{{post.id}}">
                                	<span class="label label-primary">I want this ({{ post.buyers_count }})</span>
                        	</a>

                        </div>
			

			<div ng-switch-when="post.can_edit">
				<a href="/posts/{{post.id}}/edit">
                    			<span class="label label-default">Edit</span>
                		</a>
                        </div>

			<div ng-switch-when="post.can_edit">
                                <a href="/posts/{{post.id}}/admin_edit">
                                        <span class="label label-dangert">Edit[Admin]</span>
                                </a>
                        </div>

                	<a href="/posts/{{post.id}}">
                    		<span class="label label-default">Read More</span>
                	</a>

                	<a href="/posts/{{post.id}}">
                    		<span class="label label-default">{{ post.comments_count }} Comments</span>
                	</a>





		</div>




            </div>
	



		</li>
      	</ul>
