<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XPlusZ EA App</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic' rel='stylesheet' type='text/css'>

    <script src="static/angular/app.js"></script>
    <link href="static/styles.css" rel='stylesheet' type='text/css'>


    <script src="static/angular/views/home/home-controller.js"></script>
    <script src="static/angular/views/login/login-controller.js"></script>


  </head>
  <body>


	<div class="navbar navbar-default" role="navigation">
    	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">edsstore.com</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
		 <li ng-if="user" ><a href="#/home">Home</a></li>
		
		<li ng-if="user"><a href="#/profile">Profile</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user.token" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user.avatar }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/changepassword">Change Password</a></li>
                        <li><a href="#/changeemail">Change Email</a></li>
                        <li><a href="#/logout">Log Out</a></li>
                    </ul>
                </li>

                <li ng-if="!user"><a href="#/login">Log In</a></li>

            </ul>
        </div>
    </div>
</div>

	<div class="container">
		<div ng-view></div>
	</div>

	<script src="static/angular/services/user-service.js"></script>
	<script src="static/angular/services/post-service.js"></script>


  </body>
</html>
