.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    /*border-top: 1px solid #e0e0e0;*/
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}


ul.posts li.post{
   margin-bottom: 10px;
   /*box-shadow: 3px 3px 3px #888888;*/
   border: 1px solid #c5c5c5;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

div.post-date {
    /*float: left;*/
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    /*position: absolute;*/
    /*float:left;*/
    margin-top:10px;
    margin-bottom: 0px;
    height: 25px;
    width: 100%;
}
div.post-title{
    font-size: 17px;
    font-weight: bold;
    color: #2E5492;
}


.author-name{
    margin-left: 25px;
}

div.post-content {
    /*margin-left: 48px;*/
    min-height: 48px;
}
div.post-footer {
    text-align: left;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    bborder-top: 1px solid #e0e0e0;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}


.thumbnail{
	display:block;
	/*width: 120px;*/
	height: 80px;
	overflow: hidden;
}


.img-preview{
	width: 140px;
	height: 140px;
	display:none;
}

.people-want{
	margin-top: 5px;
	text-align:right;
	color: #525252;
	font-size: 12px;
}

.post-footer a{
	font-size; 12px;
	font-weight: bold;
	color: #525252;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
