<!-- extend base layout -->
{% extends "base.html" %}

{% block page_content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Your username:</td>
            <td>
                {{ form.username(size=24) }}
                {% for error in form.errors.username %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>About yourself:</td>
            <td>{{ form.about_me(cols=32, rows=4) }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}
