{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block page_content %}

<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}  
	<div class="form-group  required">
		<label class="control-label">Sell something!</label>
        	<input class="form-control" id="post-title" name="post-title" required type="text" value="" placeholder="Title">
  	</div>

	<div class="form-group  required">
		<!--label class="control-label" for="post-body">Sell something locally?</label-->
        	<textarea class="form-control" id="post-body" name="post-body" required placeholder="Describe your item in detail"></textarea>
  	</div>
	<div class="form-group" style="display:none;"><label class="control-label" for="post-images">Images</label>
        	<textarea class="form-control" id="post-images" name="post-images"></textarea>
  	</div>

	<div class="row images-preview">
                <div class="col-xs-6 col-md-2 img-preview">
			<div class="progress">
                        	<div class="progress-bar"
                                	role="progressbar"
                                	aria-valuenow="0" 
                                	aria-valuemin="0" 
                                	aria-valuemax="100" 
                                	style="width: 0%;">0%
				</div>
                	</div>
			<a href="#" class="thumbnail">
                        	<img id="" src="">
                        </a>

                </div>

        </div>


	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<div class="btn-group btn-group-sm" role="group" aria-label="...">
				<span class="btn btn-default btn-file">
    					add images <input class="form-control" id="imageupload" name="imageupload" type="file" multiple="multiple">
				</span>
		</div>

		<div class="btn-group btn-group-sm" role="group" aria-label="...">
			<button type="button" id="SubmitPostFormButton" class="btn btn-primary">post</button>
		</div>
	</div>
    {% endif %}
</div>

<div class="post-tabs">
    {% include 'posts.html' %}
</div>


<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>

{% endblock %}
