<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <!--div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar(size=40) }}">
            </a>
        </div-->


        <div class="post-content">

	    <div class="post-title">
                {{ post.title }}
            </div>

            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}


		
            </div>


	    <br />
	    <div class="row">
		{% for image in post.product_images %}
  		<div class="col-xs-6 col-sm-2 col-md-2">
    			<a href="#" class="thumbnail">
      				<img src="/static/media/product_images/{{image.filename}}" alt="...">
    			</a>
  		</div>
		{% endfor %}

	    </div>

            <div class="post-footer">

		<!--div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div-->

		{% if current_user.already_want(post) %}
			<a class="want-or-not" href="{{ url_for('.want_or_not', id=post.id, _external=True) }}">
                    		<span class="label label-danger">I don't want this ({{ post.buyers.count() }})</span>
                	</a> 
		{% elif not current_user.is_own_post(post) and current_user.can(Permission.FOLLOW)%}
			<a class="want-or-not" href="{{ url_for('.want_or_not', id=post.id, _external=True) }}">
                                <span class="label label-primary">I want this ({{ post.buyers.count() }})</span>
                        </a> 
		{% endif %}


                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-default">Edit</span>
                </a> 
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a> 
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Read More</span>
                </a>  

		<a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-default">{{ post.comments.count() }} Comments</span>
                </a>


            </div>


	    <!--div class="people-want">
            {% if post.buyers.count() > 1 %}
            <span>{{ post.buyers.count() }} people want it.<span>

            {% elif post.buyers.count() > 0 %}
            <span>{{ post.buyers.count() }} person want it.<span>

            {% endif %}
            </div-->


	    <div class="post-thumbnail">
                        <a href="{{ url_for('.user', username=post.author.username) }}">
                                <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar(size=20) }}">
                        </a>
                        <a href="{{ url_for('.user', username=post.author.username) }}" class="author-name">{{ post.author.username }}</a>
			posted {{ moment(post.timestamp).fromNow() }}
            </div>

		

        </div>
    </li>
    {% endfor %}
</ul>
